body
{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main
{
   
    width:100%;
    height:100svh;
    
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
}
.parent
{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    transform-style:preserve-3d;
    /* perspective: 800px; */
    width:500px;
    height:500px;
    animation: rc 7s infinite linear;
    margin-left: -211px;
    margin-top: -66px;
    
   

}
.side
{
    color:aliceblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .side
{
    position:absolute;
    width: 250px;
    height:250px;
}

.front{
    transform: rotateZ(90deg) translateZ(100px);
    background-color: aqua;
}

.back{
    transform: rotateY(180deg) translateZ(100px);
    background-color: aquamarine;
}

.left{
    transform: rotateY(-90deg) translateZ(100px);
    background-color: blue;
}

.right{
    transform: rotateY(90deg) translateZ(100px);
    background-color: brown;
}

.top{
    transform: rotateX(90deg) translateZ(100px);
    background-color: cadetblue;
}

.bottom{
    transform: rotateX(-90deg) translateZ(100px);
    background-color: darkmagenta;
} */



.front{
    position:absolute;
    width: 250px;
    height:250px;
    transform:translate3d(21px,2px,126px);
    background:linear-gradient(to bottom right,pink,blue);
    left: 229px;
    /* top:150px; */
    
}
.back
{
    position:absolute;
    width: 250px;
    height:250px;
    transform:translateZ(-126px) ;
    background:linear-gradient(to bottom right,red,black);
    left:252px;
}
.left
{
    position:absolute;
    width: 250px;
    height:250px;
    transform: rotateY(-90deg);
    background:linear-gradient(to bottom right,rgb(193, 23, 199),rgb(182, 25, 25));
    left:124px;
    
}
.right
{
    position:absolute;
    width: 250px;
    height:250px;
    transform: rotateY(90deg);
    background:linear-gradient(to bottom right,rgb(35, 190, 110),black) ;
    left:377px;
}
.top{
    position:absolute;
    width: 250px;
    height:250px;
    transform:rotateX(90deg);
    background :linear-gradient(to right,rgb(255, 132, 0),yellow);
    top: 2px;
    left: 250px;
}
.bottom
{
    position:absolute;
    width: 250px;
    height:250px;
    transform:rotateX(-90deg);
    background:linear-gradient(to left,rgb(231, 51, 159),rgb(21, 235, 235));
    bottom: -2px;
    left:250px;
    
}



@keyframes rc
{
    0%
    {
        transform: rotateX(45deg) rotateY(45deg);
    }
    25%
    {
        transform: rotateX(-45deg) rotateY(45deg);
    }
    50%
    {
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    75%
    {
        transform: rotateX(45deg) rotateY(-45deg);
    }
    100%
    {
        transform: rotateX(45deg) rotateY(45deg);
    }
    
} 

