body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100svh;
}
.child1
{

    width:100%;
    height:50%;
    background-color:brown;
    
   
}