body{
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100svh;
}



/* ------------------section 2 CSS Starting------------------------------------ */

.section2{
    width:100%;
    height: fit-content;
    background-color: #654AFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:100px;
    

}
.section2a,.section2b{
    margin-top: 10px;
    font-size: 52px;
    color: white;
}
.section2a
{
    margin-top:40px;
    letter-spacing: 5px;
}
.section2b
{
    font-size:22px;
}
.section2c
{
    width:100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap:wrap;
    margin-top: 50px;
    /* background-color: red; */
}

.section2c1
{
    width:345px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
    z-index: 999;
    background-color:whitesmoke;
   
    
}
.flipmain
{
    width:345px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
    background-color: #654AFF;
    perspective: 1000px;
    
}
.flip
{
    width: 100%;
    height: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
    transition: all 2s;
    transform-style: preserve-3d;
}
.front , .back
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position:absolute;
    backface-visibility: hidden;
    
}
.back{
    transform: rotateY(180deg);
    
    

}
/* .flipmain:hover .flip
{
    transform: rotateY(180deg);
} */



.section2c11 img
{
    position:relative;
    top: -30px;
    width:80px;
    height:80px;
    z-index:999;
    /* transition: all 5s;
    transition-timing-function: ease;
    transform-origin: center; */
    animation-name: myimgani;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes  myimgani {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(720deg);
    }
    
}
.section2a:hover,.section2b:hover{
    transform: scale(1.08);
    text-shadow: 0px 0px 10px rgb(237, 23, 227);
}
.section2c12
{
    font-size: 16px;
    color: blueviolet;
    font-weight: bolder;
}
.section2c13
{
    align-self: center;
    /* margin: 5px 15px; */
    margin-left: 20px;
    margin-top: 20px;
    font-size :16px;;
    width: 200px;
    text-align: center;
    
    /* padding-left:20px; */
    
    
}
.section2c14
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    width:80px;
    margin-left:-4%;
    height:41px;
    border: 2px solid blue;
    text-align: center;
    cursor: pointer;
    font-size:18px;
    font-weight: bolder;
}

/* .section2c14:hover{
    border:2px solid rgb(148, 229, 246);
    background-color: rgb(20, 37, 220);
    color: white;
    transform: scale(1.2);
    cursor: pointer;
    
} */



/* ---------------------------------------------Section 5 CSS Starting----------------------------------------- */
.section5
{
    width:100%;
    height:100svh;
    
    display: flex;
    align-items: center;
    justify-content: center;

    

}
.section5div1
{
    width:70%;
    height:80svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color:whitesmoke;
}
.section511
{
    width:500px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.section5111
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:80%;
    height:80%;
    background-color:whitesmoke;
}

.section511a
{
    width:100%;
    height: 10%;
    
    /* display: flex;
    justify-content:flex-start; */

}
.section511b
{
    margin-top:10%;
    width:100%;
    height: 10%;
    /* display: flex;
    justify-content:flex-start; */

}
.section511c
{
    width:100%;
    height:20%;
    /* display: flex;
    justify-content:flex-start; */

}
.section511d
{
    width:100%;
    height:20%;
    /* display: flex;
    justify-content:flex-start; */
    color: black;
    font-weight:bolder;
    margin-top: 5%;

}
.section511f{
    border:2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px;
    margin-top:6%;
    width:20%;
    height:8%;
}
.section511f:hover{
    border:2px solid rgb(26, 255, 255);
    transform: scale(1.08);
    background-color: blue;
    color: aliceblue;

}


.section511a img
{
    width:100px;
    height:80px;

}
@media screen and ( (min-width:320px) and (max-width:1024px) ) {

   .section511
   {
    width:440px;
   }
    .section511b
    {
        width:250x;
        margin-top: 20%;
    }
    .section511c
    {
        width:200px;
        font-size: 10px;
    }
    .section511d
    {
        width: 200px;
        font-size: 12px;

    }
    .section511f
    {
        width:40px;
        height:10px;
        font-size:10px;

    }
    .section512a
    {
        width: 250px;
        height: 250px;
    }
    .section512a img
    {
        width:150px !important;
        height:250px !important;
    }
      .section2c1
      {
        width: 250px;

      }
      .flipmain
      {
        width:250px;
      }
      .section2a
      {
        font-size:16px !important;
        letter-spacing:1px;
        width: 320px;
        margin-left:42px;
      }
      .section2b
      {
        font-size:10px;
        margin-left:20px ;
        
      }
    
}



.section512
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height:100%;
    position: relative;
    /* background-color: red; */
}

.section512a
{
    width:70%;
    height:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:blue; */
     animation: myani;
    animation-duration:2S;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    position:absolute; 
   
   

    /* background-color:pink; */

}
.section512a img
{
   position:absolute;
   height:100%;
   width:100%;
    /* animation: myani;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;  
    animation-fill-mode: forwards;
   */
   
   
   

}




 @keyframes myani
{
    0%
    {
        top:0px;
        

    }
    10%{
        top:10px;
    }
    20%
    {
        top: 20px;
    }
    30%
    {
        top:30px;
    }
    40%
    {
        top:40px;
    }
    50%
    {
        top:50px;
    }
    60%
    {
        top: 40px;
    }
    70%
    {
        top:30px;
    }
    80%
    {
        top:20px;
    }
    90%
    {
        top:10px;
    }
    100%
    {
        top: 0px;
    }

} 
